.review-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media screen and (max-width: 576px) {
  .review-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .review {
    margin-left: 0px;
    margin-right: 0px;
  }
}
